export(ExplicitExploration)
export(EDA.hist)
export(EDA.norm)
export(EDA.mnorm)
export(EDA.ecdf)
export(ackley)
export(griewank)
export(happy_cat)
export(rastrigin)
export(weierstrass)
export(schwefel_12)
export(sphere)
export(rosenbrock)
export(trid)
export(ellipsoid)
export(cigar)
export(cigar_tablet)
export(two_axes)
export(zakharov)
export(expanded_schaffer)
export(modified_schwefel)
importFrom("stats", "ecdf", "quantile", "runif")
importFrom("mvtnorm","rmvnorm")
importFrom("graphics", "hist")
importFrom("stats", "rnorm", "sd", "var")
